* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

div {
    height: 300px;
    width: 300px;
    background: cyan;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
    
    transition: transform 2s ease;
}

div:hover {
    /*  ROTATE: Rotates the element
    units: deg radians gradian turn
    value 1turn (for units) means to rotate 360deg 
    values can be given either positive or negative*/
    /* transform: rotateY(45deg); */
    
    /* TRANSLATE: MOves the element
    units: px, % 
    values can be either positive or negative*/
    /* transform: translate(200px, 300px); */

    /* SCALE: increase or decrease size based on requirement 
    1st value in scaling controls the horizontal scaling while 2nd value controls the vertical scaling */
    /* transform: scale(1.5, 2); */

    /* SKEW: Distorts an element along with the x or/and y-axis, tilts the element 
    units: deg, gradian, turn or radian*/
    /* transform: skew(30deg); */

    /* MATRIX: Advanced transformation which contains all other transformation like translate, rotate, etc.,. 
    SYNTAX: transform: matrix([scaleX], [skewY], [skewX], [scaleY], [translateX], [ translateY]);
    units: no units are required*/
    /* transform: matrix(2, 1, 1, 2, 70, -100); */

    /* TRANSFORM */
    transform: translate(50px, 30px) rotate(45deg) scale(1.2) skew(10deg, 15deg);
}